html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; background: #54546C; }
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	background-color: #4E4E61;
	font-weight: bold;
	font-size: 24px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 84px;
	padding: 0 40px;
	background-color: #4E4E61;
}
.header .links { line-height: 100px; }
.footer .links { line-height: 84px; }
.title {
	background: url("encryimg.svg");
	width: 193px;
	height: 48px;
	color: #BADA99;
	line-height: 58px;
	margin-left: 15px;
	margin-top: 25px;
	font-size: 26px;
	display: inline-block;
}
.content {
	margin-top: 104px;
	margin-bottom: 100px;
	color: #DEDEDE;
	padding: 20px 30px;
}
.links {
	display: inline-block;
	float: right;
}
.links a {
	color: #D2B3EE;
	font-weight: bold;
	margin-right: 15px;
}
.uploadarea {
	border: dashed 6px #DEDEDE;
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 100px 0;
	font-size: 16px;
}
.uploadarea .glyphicon {
	font-size: 80px;
	margin-bottom: 20px;
	color: #DBCDEF;
}
.uploadicon {
	background: url("upload.svg");
	width: 140px;
	height: 140px;
	display: inline-block;
	margin-bottom: 20px;
}
.loginpanel {
	background-color: #444456;
	width: 300px;
	height: 300px;
	display: inline-block;
	padding: 20px;
	text-align: left;
}
.logintitle {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 10px;
}

.loginpanel .form-control {
	background-color: #5f5f6f;
	border-radius: 0;
	margin: 20px 0;
	height: 40px;
	font-size: 16px;
	border: none;
	box-shadow: none;
	color: #afafb7;
}

.forgotpass {
	color: #ad76de;
}
.forgotpass:hover {
	color: #ad76de;
	cursor: pointer;
}
.loginbtn {
	background-color: #ad76de;
	border: none;
	outline: none;
	margin-top: 18px;
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}


@media only screen and (max-width: 600px) {
	.header .links {
		line-height: 76px;
	}
	.loginpanel {
		width: 260px;
	}
	.title {
		width: 103px;
		height: 25px;
		line-height: 58px;
		margin-left: 0px;
		margin-top: 25px;
		background-size: 103px;
	}
	.header {
		height: 76px;
		padding: 0 20px;
		font-size: 16px;
	}
	.content {
		margin-top: 80px;
	}
	.uploadarea {
		height: 260px;
		padding: 20px 0;
	}
}


@media only screen and (max-width: 320px) {
	.header {
		height: 76px;
		padding: 0 20px;
		font-size: 14px;
	}
	.links a {
		color: #D2B3EE;
		font-weight: bold;
		margin-right: 12px;
	}
}

/* button clr: ad76de */
