{block name="content"}
<p>
	encryimg lets you encrpt and share images through a link. Only
	people whom you share the link with will be able to view, no
	one else.
</p>
<div class="uploadarea">
	<input type="file" id="uploader">
	<div class="uploadicon"></div>
	<p>Drag and drop or <br> click to upload</p>
</div>

<div class="modal fade in" tabindex="-1" role="dialog" style="display:block">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

	<img id="preview">

THIS IS THE HOMEPAGE! :D
<br>
<br>
<br>
<br>
UPLOAD FILE HERE
<br>
<form id="uploadform">
	<button>Submit</button>
</form>



{/block}