{block name="content"}

THIS IS AN IMAGE! :D
<br>
<br>
<br>

<div id="file" data="{$image['rand']}"></div>
<img id="decryptedimage">
<span id="error"></span>

<div class="commentboard">
	{include file='image_comment.tpl'}
</div>
{if isset($smarty.session['user'])}
<form id="commentform">
	<textarea></textarea>
	<button>Submit</button>
	<span class="charactersleft">144 characters left</span>
</form>
{/if}
<br>
<br>
<br>


{/block}