{foreach $comments as $c}
<div class="comment" commentid="{$c['id']}">
	<div class="user">{$c['username']}</div>
	<div class="date">{$c['create_date']|strtotime}</div>
	<div class="message" msg="{$c['message']}">{$c['message']}</div>
</div>
{/foreach}