{block name="content"}
{if !empty($errormsg)}
ERROR ERROR {$errormsg}<br>
{/if}
<form method="post">
<!--	<input type="password" name="fakepassword" placeholder="password1" value="" hidden>-->
	<input type="text" name="username" placeholder="username or email lol" value="{$smarty.post['username']}"><br>
	<input type="password" name="password" placeholder="password1" value="" autocomplete="off"><br>
	<label for="rememberme">Remember me</label><input type="checkbox" name="rememberme" id="rememberme"><br>
	<button>OK</button>
</form>
{/block}