{block name="content"}
{if !empty($errormsg)}
ERROR ERROR {$errormsg}<br>
{/if}
<form method="post">
	<input type="text" name="username" placeholder="username"><br>
	<input type="text" name="email" placeholder="email"><br>
	<input type="password" name="password1" placeholder="password1"><br>
	<input type="password" name="password2" placeholder="password2"><br>
	<button>OK</button>
</form>
{/block}